
<h1>Listing Products</h1>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
 
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%=product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>